body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-container {
    background: url(./img/thumb.jpg);
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}

img {
    position: absolute;
    bottom: 20px;
    right: 50px;
    width: 100px;
    cursor: pointer;
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    50% {
        transform: translateY(-20px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

.trailer-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.7s;
}

.trailer-container video {
    position: relative;
    max-width: 100%;
    outline: none;
}

.close-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 40px;
    color: #f26415;
    padding: 10px;
    border-radius: 100%;
    font-family: sans-serif;
}

@media (max-width: 991px) {
    .trailer-container video {
        width: 90%;
    }

}

.active.trailer-container {
    visibility: hidden;
    opacity: 0;
}